[Desktop Entry]
Name=MageiaSync
Comment=A frontend to rsync for Mageia usage
Exec=mageiasync
Icon=mageiasync
StartupNotify=true
Type=Application
Terminal=false
Categories=System;
